body {
    font-family: "Arial", sans-serif;
    background-color: #f5f5f5;
    margin: 3rem;
    text-align: center;
}

button {
    background-color: #07c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #06b;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

button.remove {
    background-color: #f00;
    margin: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.remove:hover {
    background-color: #c00;
}